<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <title>Contact</title>
    <style>
        ul {
            list-style-type: none;
            padding: 5px;
            margin: 10px;
            text-align: center;
        }

        li {
            display: inline-block;
            padding: 5px;
            margin: 10px
        }
    </style>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/promotions">Promotions</a></li>
            <li><a href="/subscribe">Subscribe</a></li>
            <li><a href="/updates">Updates</a></li>
        </ul>
    </nav>
    <hr>
    <h1>Contact</h1>
    <h3>Under construction...</h3>
</body>

</html>