<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <title>Home</title>
    <style>
        ul {
            list-style-type: none;
            padding: 5px;
            margin: 10px;
            text-align: center;
        }

        li {
            display: inline-block;
            padding: 5px;
            margin: 10px
        }
    </style>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/promotions">Promotions</a></li>
            <li><a href="/subscribe">Subscribe</a></li>
            <li><a href="/updates">Updates</a></li>
        </ul>
    </nav>
    <hr>
    <h1>Home Page</h1>
    <p>Hello, this is the home page. Feel free to click around to different pages!</p>
    <button><a href="/holidays">2024 Holidays</a></button>
    <button><a href="/weather">Current Weather</a></button>
</body>

</html>